{{ 'section-coffee-rich-text.css' | asset_url | stylesheet_tag }}

<div>
    <div class="heading">
        {{ section.settings.custom_text_title }}
    </div>
    {% if section.settings.image != blank %}
        {{section.settings.image | image_url: width: 90, height: 90, format: 'jpg'  | image_tag}}
    {% else %}
        Hi Stranger!
    {% endif %}
</div>

{% schema %}
{
  "name": "Coffee-Rich-Text",
  "settings": [
    {
        "id": "custom_text_title",
        "type": "text",
        "label": "Text",
        "default": "Title"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Test"
    }
  ],
  "presets": [
    {
        "name": "Coffee-Rich-Text"
    }
  ]
}
{% endschema %}