{{ 'section-coffee-banner.css' | asset_url | stylesheet_tag }}

<div class="coffee-banner custom-text-section">
    <div> {{ section.settings.custom_text_title }} </div>
    <div>{{ section.settings.custom_text_body }}</div>
</div>

{% schema %}
  {
    "name": "Text Box",
    "settings": [
      {
        "id": "custom_text_title",
        "type": "text",
        "label": "Text box heading",
        "default": "Title"
      },
      {
        "id": "custom_text_body",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      }
    ],
    "presets": [
      {
        "name": "Coffee-Banner",
        "category": "Custom"
      }
    ]
  }
{% endschema %}