{{ 'section-coffee-banner.css' | asset_url | stylesheet_tag }}

<div class="coffee-banner custom-text-section">
    <div class="coffee-banner-text">
      <div class="banner-box">
        {{ section.settings.custom_text_title }}
        {{ section.settings.custom_text_body }}
      </div>
      <div class="banner-box">
        Enjoy your Coffee!
      </div>
    </div>
  {% if section.settings.image != blank %}
    {{section.settings.image | image_url: width: 1920, height: 500, format: 'jpg'  | image_tag}}
  {% else %}
    Hi Stranger!
  {% endif %}
    
</div>

{% schema %}
  {
    "name": "Coffee Banner",
    "settings": [
      {
        "id": "custom_text_title",
        "type": "text",
        "label": "Text box heading",
        "default": "Title"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Test"
      },
      {
        "id": "custom_text_body",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      }
    ],
    "presets": [
      {
        "name": "Coffee-Banner",
        "category": "Custom"
      }
    ]
  }
{% endschema %}