<div>
    This is a test
</div>

{% schema %}
{
  "name": "Coffee-Rich-Text",
  "settings": [
    {
        "id": "custom_text_title",
        "type": "text",
        "label": "Text",
        "default": "Title"
    }
  ],
  "presets": [
    {
        "name": "Coffee-Rich-Text"
    }
  ]
}
{% endschema %}